name: Deploy to Vitrine Rapida to Hostinger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOSTINGER_VM_ID }}
          username: root
          key: ${{ secrets.HOSTINGER_API_KEY }}
          port: 22
          script: |
            echo "Conectado!"
            cd Web-Catalogo/
            git fetch --all
            git pull origin main
            docker compose up --build -d